<%= render SimilarfilmsPhoenix.SharedPartialsView, "title.html", title: "Popular" %>
<div class="container group">
  <%= render SimilarfilmsPhoenix.SharedPartialsView, "results.html", conn: @conn, results: @results %>
</div>


<!-- <script type="text/javascript" src="/assets/js/localforage/dist/localforage.js"></script>
<script type="text/javascript" src="/assets/js/app.pack.js"></script> -->

